<div class="block-content">
  <div class="ng-star-inserted">
    <div class="bg-gray-900 px-4 py-6 md:px-6 lg:px-8">
      <div class="grid">
        <div
          class="col-12 md:col-3 flex flex-wrap justify-content-center md:mb-0 mb-3">
          <img src="assets/images/blocks/logo/FUNDACIÓN-ILUMINAR-T-LOGO.webp" alt="Logo-Fundacíón-ILUMINAR-T" />
        </div>
        <div class="col-12 md:col-3">
          <div
            class="text-white text-lg mb-4 flex justify-content-center">
            Diagonal 28, calle 30-27 - Barrio Majagual, Sincelejo, Sucre (Colombia).
          </div>
          <div class="text-white mb-3 flex justify-content-center">
            <i class="pi pi-phone border-round p-1 mr-2"></i>(311) 692 8604
          </div>
          <div class="text-white mb-3 flex justify-content-center">
            <i class="pi pi-home border-round p-1 mr-2"></i>NIT 901373038
          </div>
          <div class="text-white mb-3 flex justify-content-center">
            <i class="pi pi-inbox border-round p-1 mr-2"></i>tvillerah2@hotmail.com
          </div>
        </div>
        <div class="col-12 md:col-3 text-gray-200">
          <div class="text-white font-bold line-height-3 mb-3 flex justify-content-center">Fundacíón</div>
          <a class="line-height-3 block cursor-pointer mb-2 flex justify-content-center">Sobre nosotros</a>
          <a class="line-height-3 block cursor-pointer mb-2 flex justify-content-center">Noticias</a>
          <!-- <a class="line-height-3 block cursor-pointer mb-2">Careers</a> -->
          <!-- <a class="line-height-3 block cursor-pointer">Media Kit</a> -->
        </div>
        <div class="col-12 md:col-3 text-gray-200">
          <div class="text-white font-bold line-height-3 mb-3 flex justify-content-center">Recursos</div>
          <!-- <a class="line-height-3 block cursor-pointer mb-2">Get Started</a> -->
          <a class="line-height-3 block cursor-pointer mb-2 flex justify-content-center">Aprende con nosotros</a>
          <a class="line-height-3 block cursor-pointer flex justify-content-center">Casos de Éxito</a>
        </div>
      </div>
    </div>
  </div>
</div>
