.spacer {
  display: flex;
  flex: auto;
  padding: 0px;
}

img {
  width: 5vh;
}

/* mat-toolbar { */
/*   background-color: red; */
/* } */

.example-container {
  /* position: fixed; */
  /* inset: 5% 70% 0 0; */
  
  background: hsl(0, 0%, 100%, 0.1);
  /* backdrop-filter: blur (80rem); */
  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* opacity: 55%; */
  /* width: 100%; */
  /* height: 100%; */
  /* flex: 1; */
  /* height: ; */
  /* height: 100%; */
  /* margin: 10px; */
  /* border: 1px solid #555; */
}

/* :host .navSection { */
/*   height: 100%; */
/*   background-color: primary; */
/* } */

mat-sidenav {
  /* background-color: lightgrey; */
  background: hsl(0, 0%, 0%, 0.8);
  color: white;
  /* height: 100%; */
  /* display: flex; */
  bottom: 0;
}
