<div styleClass="feature-section" class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-2xl">
    <span class="text-900">Haz la Diferencia</span>
    <!-- <span class="text-primary">Many Solutions</span> -->
  </div>
  <div class="text-700 text-sm mb-6 font-medium">
     Los fines de La Fundación Centro Móvil para la Vida y el Desarrollo Humano Integral “ILUMINAR T”, 
     es defender y promocionar la vida y el desarrollo humano integral; desde lo personal, familiar y 
     social, con enfoques de derecho, género y diferencial, orientado a contribuir a la preservación 
     de la vida y al bienestar de los seres humanos en sus múltiples dimensiones para el pleno 
     desarrollo sostenible y sustentable.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-user text-4xl text-primary"></i>
      </span>
      <!-- <div class="text-900 mb-3 font-medium">Línea Estratégica/Dimensión</div> -->
      <div class="text-900 mb-3 font-medium">El cuidado de la persona y la defensa de la vida humana</div>
      <!-- <span class="text-700 text-sm line-height-3">El cuidado de la persona y la defensa de la vida humana.</span> -->
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-primary"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Familia, Sociedad y Desarrollo integral de la niñez</div>
      <!-- <span class="text-700 text-sm line-height-3">Familia, Sociedad y Desarrollo integral de la niñez.</span> -->
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-users text-4xl text-primary"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Deporte y Cultura</div>
      <!-- <span class="text-700 text-sm line-height-3">Deporte y Cultura.</span> -->
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-globe text-4xl text-primary"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Medio Ambiente</div>
      <!-- <span class="text-700 text-sm line-height-3">Medio Ambiente.</span> -->
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-chart-bar text-4xl text-primary"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Econmómica y Productiva</div>
      <!-- <span class="text-700 text-sm line-height-3">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat acincidunt vitae semper.</span> -->
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-check-circle text-4xl text-primary"></i>
      </span>
      <div class="text-900 mb-3 font-medium">Construcción de Democracia y Ciudadanía</div>
      <!-- <span class="text-700 text-sm line-height-3">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat accincidunt vitae semper.</span> -->
    </div>
  </div>
</div>
<!-- <div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"> -->
<!--     <div class="font-bold mr-8">🔥 Hot Deals!</div> -->
<!--     <div class="align-items-center hidden lg:flex"> -->
<!--         <span class="line-height-3">Libero voluptatum atque exercitationem praesentium provident odit.</span> -->
<!--     </div> -->
<!--     <a class="flex align-items-center ml-2 mr-8"> -->
<!--         <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a> -->
<!--     </a> -->
<!--     <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem"> -->
<!--         <i class="pi pi-times"></i> -->
<!--     </a> -->
<!-- </div> -->
<!-- <h3>Testing</h3> -->
