<!-- <app-navbar></app-navbar> -->
<!-- <app-hero1></app-hero1> -->
<!-- <app-hero2></app-hero2> -->
<!-- <app-feature></app-feature> -->
<!-- <app-map></app-map> -->
<!-- <app-footer></app-footer> -->

<div class="navSection">
  <mat-toolbar color="primary">
    <!-- <span>User Management</span> -->
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span fxHide.lt-md="true">
      <img
        src="assets/images/blocks/logo/FUNDACIÓN-ILUMINAR-T-LOGO.webp"
        alt="Image-logo"
      />
    </span>
    <div class="spacer"></div>
    <div fxShow="true" fxHide.lt-md="true">
      <a src="#" mat-button>Inicio</a>
      <a src="#" mat-button>Proyectos</a>
      <a src="#" mat-button>Sobre nosotros</a>
      <a src="#" mat-button>Contacto</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container style="height: 100%" class="example-container">
    <mat-sidenav #sidenav mode="over" fxLayout="column">
      <div fxLayout="column">
        <!-- <a (click)="sidenav.toggle()" href="#" mat-button>Close</a> -->
        <a href="#" mat-button>Inicio</a>
        <a href="#" mat-button>Proyectos</a>
        <a href="#" mat-button>Sobre Nosotros</a>
        <a href="#" mat-button>Contacto</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content (click)="sidenav.close()">
      <app-hero2></app-hero2>
      <app-feature></app-feature>
      <app-map></app-map>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
