
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my-theme: (
 50: #F7FAF7,
 100: #F1F4F1,
 200: #E8ECE8,
 300: #D9DDD9,
 400: #B6BAB6,
 500: #979A97,
 600: #6E726E,
 700: #5B5E5B,
 800: #3C3F3C,
 900: #1C1E1C,
 contrast: (
   50: rgba(#FFFDE5, 0.87),
   100: rgba(#FFFAC0, 0.87),
   200: rgba(#FFF695, 0.87),
   300: rgba(#FEF169, 0.87),
   400: rgba(#FBEC42, 0.87),
   500: rgba(#F8E702, 0.87),
   600: rgba(#FED90A, 0.87),
   700: rgba(#FEC100, 0.87),
   800: rgba(#FEA700, 0.87),
   900: rgba(#FD7B00, 0.87),
 )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$iluminart-primary: mat.define-palette(mat.$indigo-palette);
$iluminart-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$iluminart-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$iluminart-theme: mat.define-light-theme((
  color: (
    primary: $iluminart-primary,
    accent: $iluminart-accent,
    warn: $iluminart-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($iluminart-theme);

