@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css"; /* body { */ /*   padding: 2rem; */ /* } */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
